<div class="jumbotron mt-4">
    <h1 class="display-4">Home</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        quam officia odio id.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquam architecto hic laboriosam sed repudiandae
        consectetur itaque, fugiat corporis provident vero modi iure ipsa eum velit nihil dolore! Molestiae, unde.</p>
    <a href="" class="btn btn-primary btn-lg">GO</a>    
</div>