<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/imgs/eduquiz.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions"><i class="fas fa-book"></i> Preguntas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><i class="fas fa-info"></i> Información</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user_p}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> 
                        {{user_p.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/questions/add"><i class="fas fa-plus"></i> Nueva Pregunta</a>
                        <a class="dropdown-item" href="/questions/my-questions"><i class="fas fa-book"></i> Mis Preguntas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i class="fa fa-arrow-left"></i> Cerrar Sesión</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa fa-lock"></i> Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin"><i class="fas fa-user"></i> Crear Cuenta</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>