<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos similique a esse harum iusto sequi?
            Molestiae distinctio vel dignissimos vitae consequuntur harum velit, quis earum in impedit incidunt quam
            dolor.</p>
    </div>
</div>