<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h4>Registrar cuenta</h4>
            </div>
            <div class="card-body">
                <form action="/signin" method="POST">
                    <div class="form-group">
                        <input type="text" name="_username" class="form-control" placeholder="Nombre de usuario"
                            value="{{_username}}" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="_email" class="form-control"
                            placeholder="Correo electronico (ejemplo@dominio.com)" value="{{_email}}" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="_password" class="form-control" placeholder="Escribir contrase;a"
                            value="{{_password}}" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="_passwordC" class="form-control" placeholder="Confirmar contrase;a"
                            required>
                    </div>
                    <div class="form-group">
                        <p>Ya tienes una cuenta? Entonces conectate <a href="/login">aqui</a>.</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">
                            Crear
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>